<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <!---반응형으로 디자인하기 위해 viewport를 설정--->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Barrierfree Maker</title>
    <!--  <link rel="stylesheet" href="css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">


  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="home">Barrierfree Maker</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarColor01" style="">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="help">Help
            <span class="visually-hidden">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="dev">Developers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about">About</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-sm-2" type="text" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>


  <div class="container mt-5">
    <h2 class="text-primary text-center mb-3">사용법</h2>

      <div class="list-group mb-5">
        <a href="loading" class="list-group-item list-group-item-action flex-column align-items-start active">
          <div class="d-flex w-100 justify-content-between">
            <h4 class="mb-1">1. 영상 첨부</h4>
            <small>1단계</small>
          </div>
          <p class="mb-2">파일 선택 버튼을 누르거나 파일을 드래그하여 파일탐색기에서 자막을 추출할 영상을 선택합니다.</p>
          <img src="{{ url_for('static', filename='image/example1.png') }}" style="max-width:100%; height:auto;" class="mb-3" alt="예시1">
        </a>
        <a href="home" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h4 class="mb-1">2. STT 인식률을 높이기 위한 단어 사전 추가</h4>
            <small class="text-muted">2단계</small>
          </div>
          <p class="mb-2">등장인물의 이름 등의 고유명사를 단어 사전에 추가하면 음성에서 Text로의 전환에서 인식하기 수월해집니다.</p>
          <img src="{{ url_for('static', filename='image/example3.png') }}" style="max-width:100%; height:auto;" class="mb-3" alt="예시2">
        </a>
        <a href="result" class="list-group-item list-group-item-action flex-column align-items-start active">
          <div class="d-flex w-100 justify-content-between">
            <h4 class="mb-1">3. 자막 다운로드</h4>
            <small>3단계</small>
          </div>
          <p class="mb-2">자막이 생성되면 자막이 적용된 영상을 시청할 수 있습니다. 자막 다운로드 버튼(주황색 상자)을 누르면 자막 파일을 다운받습니다.</p>
          <img src="{{ url_for('static', filename='image/example2.png') }}" style="max-width:100%; height:auto;" class="mb-3" alt="예시3">
        </a>
      </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
