<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <!--반응형으로 디자인하기 위해 viewport를 설정-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Barrierfree Maker</title>
    <!--  <link rel="stylesheet" href="css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">

    <?PHP
    echo shell_exec("python script.py");
    ?>

  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="home">Barrierfree Maker</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarColor01" style="">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="home">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="help">Help</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="dev">Developers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about">About</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-sm-2" type="text" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  <div class="text-center mt-5">
    <h1 class="text-primary">Barrierfree Maker</h1>
  </div>

  <div class="container-fluid mt-2">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 text-center">
        <div class="card text-dark mb-3" style="background-color:rgba(120,194,173,0.3);">
          <div class="card-body">
            <h5 class="card-title mt-3 mb-3">영상 파일을 업로드하세요</h5>

            <form action = "http://--Your Server Address--/fileUpload" method = "POST"
               enctype = "multipart/form-data">
               <input type = "file" name = "file" class="form-control mb-3"/>
               <input type = "submit" value="확인" class="btn btn-outline-dark btn-sm mb-3"/>
            </form>

          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>



  <div class="container-fluid mt-2">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 text-center">
        <div class="card text-dark mt-3" style="background-color:rgba(120,194,173,0.3);">
          <div class="card-body">
            <h5 class="card-title mt-3 mb-3">단어 사전을 추가하세요.</h5>

              <form action = "http://--Your Server Address--/addword" method = "POST" value = " " class="input-form">
                   <textarea class="form-control mb-3" name="id_words" rows="3"></textarea>
                   <input type = "submit" value="확인" class="btn btn-outline-dark btn-sm mb-3"/>
              </form>

          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>


<!--
  <form action="http://--Your Server Address--/upload" method="get">
    <button type="submit">테스트</button>
  </form>
-->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

  </body>
</html>
