<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <!--반응형으로 디자인하기 위해 viewport를 설정-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Barrierfree Maker</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <?PHP
    echo shell_exec("python script.py");
    ?>

  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="home.html">Barrierfree Maker</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarColor01" style="">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="help.html">Help</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="dev.html">Developers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-sm-2" type="text" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  <div class="text-center mt-5">
    <h1 class="text-primary">Barrierfree Maker</h1>
  </div>

  <div class="container-fluid mt-2">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 text-center">
        <div class="card text-dark mb-3" style="background-color:rgba(120,194,173,0.3);">
          <div class="card-body">
            <h5 class="card-title mt-5 mb-5">영상 파일을 업로드하세요</h5>

            <form action = "http://211.243.88.243:5000/fileUpload" method = "POST"
               enctype = "multipart/form-data">
               <input type = "file" name = "file" class="form-control mb-3"/>
               <input type = "submit" value="확인" class="btn btn-outline-dark btn-sm" onclick="location.href='help.html'"/>
            </form>

          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>

  <script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.6/firebase-app.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.6.6/firebase-analytics.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries

    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
      apiKey: "AIzaSyDVVBQPfvFqrIclkmdLSIDZdkfebIgr4hg",
      authDomain: "barrierfreemaker.firebaseapp.com",
      projectId: "barrierfreemaker",
      storageBucket: "barrierfreemaker.appspot.com",
      messagingSenderId: "859293123074",
      appId: "1:859293123074:web:62f3d6d0da4c0220ec5d1b",
      measurementId: "G-N5316ZRBPX"
    };

    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);
  </script>



  <form action="http://211.243.88.243:5000/" method="get">
    <button type="submit">테스트</button>
  </form>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

  </body>
</html>
